.page {
    --top-row-height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top-row {
    position: fixed;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: var(--top-row-height);
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    z-index: 900;
}

.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-content {
    height: 100%;
    width: 100%;
}   

.app-content-logged-in {
    padding-top: var(--top-row-height);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 100%;
    box-sizing: border-box;
}

.app-content {
    padding-top: var(--top-row-height);
    padding-top: var(--top-row-height);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 100%;
    box-sizing: border-box;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
