@inherits LayoutComponentBase
@inject AuthenticationStateProvider ASP

<div class="page">
    @if (IsLoggedIn) {
        <div class="shadow-outline top-row">
            <NavMenu />
        </div>
    }
    <div class="@AppContentClass">
        @Body
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool IsLoggedIn = true;
    private string AppContentClass => IsLoggedIn ? "app-content-logged-in" : "app-content";

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await ASP.GetAuthenticationStateAsync();
        IsLoggedIn = authState.User.Identity is not null && authState.User.Identity.IsAuthenticated;
    }
}
