@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Models
@using Microsoft.AspNetCore.SignalR.Client
@using Org.BouncyCastle.Crypto.Modes

@rendermode InteractiveServer
@implements IAsyncDisposable

@if (User is not null)
{
    <div class="chat-list">
        @foreach (ChatDto chat in Chats)
        {
            <div class="chat">
                <div class="chat-info-container" @onclick="() => OpenChat(chat)">
                    <div class="chat-info">
                        <div class="chat-into-name">@chat.ChatName</div>
                        @if (chat.Unread)
                        {
                            <div class="chat-info-preview">
                                <div>@chat.MostRecent?.SenderEmail</div>
                                <div class="chat-info-preview-message">@chat.MostRecent?.MessageContent</div>
                            </div>
                        }
                    </div>
                    @if (chat.Unread)
                    {
                        <div class="inv-icon badge-icon"></div>
                    }
                </div>
                <button class="btn-danger leave-btn">Leave</button>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public EventCallback<ChatDto> ChatOpened { get; set; }
    [Parameter]
    public required HubConnection ChatHubConnection { get; set; }
    [Parameter]
    public required List<ChatDto> Chats { get; set; }
    [Parameter]
    public required ChatUser User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ChatHubConnection is not null)
        {
        }
    }

    private async Task OpenChat(ChatDto chat)
    {
        chat.Unread = false;
        await ChatOpened.InvokeAsync(chat);
    }

    public async ValueTask DisposeAsync()
    {
        if (ChatHubConnection is not null)
        {
        }
    }
}