.chat-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    overflow: scroll;
    height: auto;
}
