.app-layout {
    display: flex;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: var(--shadow-padding);
}

.main-content-header {
    display:flex;
    font-weight:700;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.chat-list-header {
    display:flex;
    margin-bottom: 1.0rem;
    padding-bottom: 5px;
}
