@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Models
@using Microsoft.AspNetCore.SignalR.Client
@using Org.BouncyCastle.Crypto.Modes

@rendermode InteractiveServer
@implements IAsyncDisposable

@if (User is not null)
{
    <div class="chat-list">
        @foreach (ChatDto chat in Chats)
        {
            <div class="chat">
                <div class="chat-info" @onclick="() => OpenChat(chat)">
                    @if (chat.Unread)
                    {
                        <div class="inv-icon badge-icon"></div>
                    }
                    <div>@chat.ChatName</div>
                    <div>@chat.MostRecent?.MessageContent</div>
                </div>
                <button class="btn-danger">Leave</button>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public EventCallback<ChatDto> ChatOpened { get; set; }
    [Parameter]
    public required HubConnection ChatHubConnection { get; set; }
    [Parameter]
    public required List<ChatDto> Chats { get; set; }
    [Parameter]
    public required ChatUser User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ChatHubConnection is not null)
        {
            ChatHubConnection.On<ChatMessageDto>("NewChatMessage", (newMessage) =>
            {
                var chat = Chats.Where(c => c.Id == newMessage.ChatId).FirstOrDefault();
                if (chat is not null)
                {
                    chat.Unread = true;
                    chat.MostRecent = newMessage;
                    InvokeAsync(StateHasChanged);
                }
            });
        }
    }

    private async Task OpenChat(ChatDto chat)
    {
        chat.Unread = false;
        await ChatOpened.InvokeAsync(chat);
    }

    public async ValueTask DisposeAsync()
    {
        if (ChatHubConnection is not null)
        {
            ChatHubConnection.Remove("NewChatMessage");
        }
    }
}