.invitation-options {

}

.invitation-item {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 12px 16px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.invitation-list {
    max-height: 420px;
    overflow: scroll;
}

.inv-label {
    margin-bottom: 0;
    text-align: left;
    flex-grow: 1;
}

.inv-icon {
    flex-shrink: 0;
    /* right: 2%; */
    /* position: absolute; */
}

.btn-show-inv {
    width: 160px;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 4px;
}

/* .invitation-item .btn-accept, .btn-reject {
    background: var(--secondary);
} */
