.message-list-wrapper {
    background: var(--card-bg);
    border-radius: 8px;
    padding: 12px;
    width: 100%;
}

.message-list {
    list-style: none;
    padding: 4px;
    margin: 0;
    width: 100%;
}

.message-text, .message-meta {
    border-style: none;
    background-color: var(--card-bg);
    padding: 4px;
    width: 100%;
}

.message-meta {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.message-text {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    word-wrap: break-word;
    white-space: pre-line;
    text-wrap: wrap;
}

.message-edit-input {
    width: 100%;
    word-wrap: break-word;
    text-wrap: wrap;
}

.message-list li {
    margin-bottom: 18px;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(60,70,123,0.08);
    width: 100%;
}

.message-list b {
    color: var(--highlight);
}

.message-edit-options {
    display: flex;
    flex-direction: row;
    gap: var(--small-gap);
    padding-bottom: var(--small-gap);
}

.input-controls {
    gap: var(--small-gap);
}
