.app-layout {
    display: flex;
    height: 100%;
    padding-top: var(--shadow-padding);
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    background: var(--card-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: var(--shadow-padding);
    padding-top: var(--shadow-padding);

    height: 100%;
}

.main-content-header {
    display:flex;
    flex-shrink: 0;
    font-weight:700;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.chat-list-header {
    display:flex;
    flex-shrink: 0;
    margin-bottom: 1.0rem;
    padding-bottom: 5px;
}
