.message-list {
    list-style: none;
    padding: 0;
    display: flex;
    padding: 4px;
    flex-direction: column;
    gap: var(--small-gap);
    max-height: 140px;
    overflow: scroll;
}

.message-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    /*background: rgba(60,70,123,0.10);*/
    background: var(--bg);
    border-radius: 8px;
    padding: 8px 16px;
}