@using COMP4952_Sockim.Hubs
@using COMP4952_Sockim.Models
@using COMP4952_Sockim.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Identity.Client
@using System.Security.Claims

@implements IAsyncDisposable

@if(User is not null && InvitationHubConnection is not null)
{
    @foreach(ChatInvitationDto invitation in Invitations)
    {
        <span>@invitation.ChatName, @invitation.SenderEmail, @invitation.ReceiverEmail</span>
        <button type="button" @onclick="() => AcceptInvitation(invitation)">O</button>
        <button type="button" @onclick="() => RejectInvitation(invitation)">X</button>
        <hr />
        <br />
    }
}

@code {
    [Parameter]
    public HubConnection? InvitationHubConnection { get; set; }
    [Parameter]
    public ChatUser? User { get; set; }
    [Parameter]
    public List<ChatInvitationDto> Invitations { get; set; } = [];

    protected override void OnInitialized()
    {
    }

    private void HandleInvitationCreated(ChatInvitationDto invitation)
    {
    }

    private void HandleInvitationsRetrieved(ChatInvitationDto[] invitations)
    {
    }

    private async void AcceptInvitation(ChatInvitationDto invitationDto)
    {
        if (InvitationHubConnection is not null)
        {
            await InvitationHubConnection.SendAsync("AcceptInvitation", invitationDto);
        }
    }

    private void RejectInvitation(ChatInvitationDto invitationDto)
    {
    }

    public async ValueTask DisposeAsync()
    {
    }
}
