@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Components.Chat
@using COMP4952_Sockim.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.IdentityModel.Tokens
@using System.Security.Claims

@rendermode InteractiveServer
@inject UserManager<ChatUser> UserManager
@inject AuthenticationStateProvider ASP
@inject ChatService ChatService
@inject ChatUserService ChatUserService
@inject InvitationsService InvitationsService

<h3>ChatCreateForm</h3>


<form @onsubmit="OnChatCreateSubmit">
    <label>
        Chat name:
        <input type="text" @bind-value="_chatName"></input>
    </label>
    <br />
    <label>
        User emails (space seperated):
        @if(_isBadEmail)
        {
            <div>
                @_badEmailMessage: @_badEmail
            </div>
        }
        <div>
            @{
                int i = 0;
                foreach (var email in _emails)
                {
                    if (i == 0) { <span>@email</span> } else { <span>, @email</span> }
                    <button type="button" @onclick="() => RemoveEmail(email)">X</button>
                    i++;
                }
            }
        </div>
        <input  type="text"
                placeholder=""
                @bind-value=_newEmail
                @bind-value:event="oninput"
                @onkeydown="AddEmail" />
    </label>
    <br />
    <button type="submit">
        Submit
    </button>
</form>

@code {
    [Parameter]
    public EventCallback OnFormSubmit { get; set; }

    private ChatUser _user;
    private AuthenticationState _authState;
    private ClaimsPrincipal _claimsPrincipal;

    private string _chatName { get; set; } = string.Empty;
    private List<string> _emails { get; set; } = new ();
    private string _newEmail { get; set; } = string.Empty;
    private int _lastEmail { get; set; } = -1;

    private string _badEmail { get; set; } = string.Empty;
    private string _badEmailMessage { get; set; } = string.Empty;
    private bool _isBadEmail = false;

    protected override async Task OnInitializedAsync()
    {
        _authState = await ASP.GetAuthenticationStateAsync();
        _claimsPrincipal = _authState.User;
        if (_authState.User.Identity!.IsAuthenticated)
        {
            _user = (await UserManager.GetUserAsync(_claimsPrincipal))!;
        }
    }

    private async void OnChatCreateSubmit() {
        @* Chat chat = new();
        chat._chatName = _chatName;
        chat.User_emails = _emails;
        chat.OwnerEmail = authState.User.Identity.Name; *@

        @* Console.WriteLine(chat); *@

        // Create a new chat entity
        Chat newChat        = new ();
        newChat.ChatName    = _chatName;
        newChat.ChatOwner   = _user;
        newChat.ChatUsers.Add(_user);

        await ChatService.AddChat(newChat);

        // Get the users corresponding to the _emails that were given
        ChatUser[]? invitedUsers = ChatUserService.GetUserByEmail(_emails.ToArray());
        List<ChatInvitation> invitations = [];
        foreach (ChatUser invitedUser in invitedUsers!)
        {
            ChatInvitation invitation = new ();
            invitation.Sender = _user;
            invitation.Receiver = invitedUser;
            invitation.Chat = newChat;
            invitations.Add(invitation);
        }

        await InvitationsService.AddInvitation(invitations.ToArray());

        await OnFormSubmit.InvokeAsync();
    }

    private void AddEmail(KeyboardEventArgs e)
    {
        bool checkKey = e.Key == " ";

        if(checkKey && !_newEmail.IsNullOrEmpty() && !_emails.Contains(_newEmail))
        {
            if (_newEmail == _user.Email)
            {
                _badEmail = _newEmail;
                _isBadEmail = true;
                _badEmailMessage = "cannot invite yourself to a group";

                return;
            }

            bool userHasEmail = ChatUserService.GetUserByEmail(_newEmail) is not null;

            if (!userHasEmail)
            {
                _badEmail = _newEmail;
                _isBadEmail = true;
                _badEmailMessage = "no such user";

                return;
            }

            _emails.Add(_newEmail);
            _lastEmail = _emails.Count() - 1;
            _newEmail = string.Empty;
            _isBadEmail = false;

            return;
        }

        bool delete = e.Key == "Backspace";

        @* Console.WriteLine(_newEmail); *@

        if (delete && !_isBadEmail && _newEmail.Last() == ' ' && _emails.Count() > 0)
        {
            try
            {
                _emails.RemoveAt(_lastEmail);
                _lastEmail -= 1;
            } catch (ArgumentOutOfRangeException err)
            {
                Console.WriteLine($"Nothing to remove {err.Message}");
            }
            return;
        }
    }

    private void RemoveEmail(string email)
    {
        if (_emails.Contains(email))
        {
            _emails.Remove(email);
        }
    }
}
