@using COMP4952_Sockim.Data
@using COMP4952_Sockim.Models
@using Microsoft.AspNetCore.SignalR.Client


@if (User is not null && Chats is not null && ChatHubConnection is not null)
{
    <div class="chat-list">
        @foreach(ChatDto chat in Chats)
        {
            <button class="btn-regular-expand" type="button" @onclick="() => OpenChat(chat)">@chat.ChatName</button>
        }
    </div>
}

@code {
    [Parameter]
    public EventCallback<ChatDto> ChatOpened { get; set; }
    [Parameter]
    public HubConnection? ChatHubConnection { get; set; }
    [Parameter]
    public List<ChatDto>? Chats { get; set; }
    [Parameter]
    public ChatUser? User { get; set; }

    private async Task OpenChat(ChatDto chat)
    {
        await ChatOpened.InvokeAsync(chat);
    }
}
