.chat {
    background: rgb(51, 56, 97);
    color: var(--text);
    border: none;
    border-radius: var(--border-radius);
    border-color: var(--accent);
    padding: 16px 32px;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: background var(--transition), transform var(--transition);
}

.chat:hover {
    background: var(--accent);
    transform: translateY(-2px) scale(1.03);
}

.chat-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

    overflow-y: scroll;
    overflow-x: visible;

    height: auto;
}
