.invitation-options {

}

.invitation-item {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 12px 16px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.invitation-list {
    max-height: 420px;
    overflow: scroll;
}

/* .invitation-item .btn-accept, .btn-reject {
    background: var(--secondary);
} */
