@using COMP4952_Sockim.Models
@using COMP4952_Sockim.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Identity.Client
@using System.Security.Claims

@implements IAsyncDisposable

@if(User is not null && InvitationHubConnection is not null)
{
    @foreach(ChatInvitationDto invitation in Invitations)
    {
        <span>@invitation.ChatName, @invitation.SenderEmail, @invitation.ReceiverEmail</span>
        <button type="button" @onclick="() => AcceptInvitation(invitation)">O</button>
        <button type="button" @onclick="() => RejectInvitation(invitation)">X</button>
        <hr />
        <br />
    }
}

@code {
    [Parameter]
    public HubConnection? InvitationHubConnection { get; set; }
    [Parameter]
    public Action<ChatInvitationDto>? OnInvitationCreated { get; set; }
    [Parameter]
    public Action<ChatInvitationDto[]>? OnInvitationsRetrieved { get; set; }
    [Parameter]
    public ChatUser? User { get; set; }
    [Parameter]
    public List<ChatInvitationDto> Invitations { get; set; } = [];

    protected override void OnInitialized()
    {
        Console.WriteLine(OnInvitationCreated is not null);
        Console.WriteLine(OnInvitationsRetrieved is not null);

        if (OnInvitationCreated is not null)
            OnInvitationCreated += HandleInvitationCreated;
        if (OnInvitationsRetrieved is not null)
            OnInvitationsRetrieved += HandleInvitationsRetrieved;

        Console.WriteLine(OnInvitationCreated is not null);
        Console.WriteLine(OnInvitationsRetrieved is not null);
    }

    private void HandleInvitationCreated(ChatInvitationDto invitation)
    {
    }

    private void HandleInvitationsRetrieved(ChatInvitationDto[] invitations)
    {
    }

    private void AcceptInvitation(ChatInvitationDto invitationDto)
    {
    }

    private void RejectInvitation(ChatInvitationDto invitationDto)
    {
    }

    public async ValueTask DisposeAsync()
    {
        if (OnInvitationCreated is not null)
            OnInvitationCreated -= HandleInvitationCreated;
        if (OnInvitationsRetrieved is not null)
            OnInvitationsRetrieved -= HandleInvitationsRetrieved;
    }
}
